name: CI for screenshot
on:
  push:
    branches: [master]
  pull_request:
    types: [closed]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - name: Screenshot Website
        uses: swinton/screenshot-website@v1.x
        with:
          source: https://github.com/swinton/screenshot-website
          destination: public/preview_img.png
